* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  background: url(https://512pixels.net/downloads/macos-wallpapers/10-6-Server.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
  align-items: center;
  height: 100vh;
}
.App {
  display: grid;
  grid-template-columns: '10fr';
  grid-template-rows: '1fr 4fr 2fr';
  justify-items: center;
}
/* Default Page Layout */
.menubar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(157, 157, 157, 0.2);
  backdrop-filter: blur(5px);
 
  height: 4vh;
  width: 100%;
  padding: 0 5px;
}
.main {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dock {
  height: 15vh;
  width: fit-content;

  display: flex;

  background-color: rgba(190, 190, 190, 0.3 );
  border-radius: 1rem;
  border: 1px rgba(245, 245, 245, 0.524) ridge;
  backdrop-filter: blur(3px);
}

/* MENU BAR */
.filemenu {
  margin: 0 10px 0 10px;
  color: white;
  font-weight: bold;
  font-size: 18px
}
.menuitems {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: fit-content;
}
/* Used for menubar and Window menu bar */
.menuwidgets {  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dock */
.dockcontainer {
  display: flex;
  justify-content: center;
  margin: 8px auto;
  padding: 0px 20px;
}

/* Home Main */
.window {
  width: 85vh;
  height: 48vh;
  background-color: #EDEEEF;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}
.windowmenubar {
  display: grid;
  grid-template-columns: 0.15fr 1fr;
  grid-template-rows: 1fr;
  background-color: #EDEEEF;
  width: 100%;
  height: 10%;
  border-bottom: 1px #C9C9CB solid;
}
.windowdots {
  width: 1.75vh;
  height: 1.75vh;
  
  margin: 4px;
  border-radius: 50%;
 }
 .red {
  background-color: #EC6A5E;
  border: 1px #D65549 solid;
 }
 .orange {
  background-color: #F3BE4F;
  border: 1px #D69B00 solid;
 }
 .green {
  background-color: #61C554;
  border: 1px #59a64d solid;
 }

 .tabcontainer {
  border: 1px solid #D6D6D6;
  position:relative;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
 }
 .tab {
  border-right: 1px solid #D6D6D6;
  width: fit-content;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  font-size: 12px;
  font-weight: bold;
  color: #666768
 }

 .windowbartitle {
  color: #525252;
  font-weight: bold;
  position:relative;
  margin: auto auto;
  width: 100%;
 }

 .overviewwindow {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 90%;
 }

 .section1 {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .section2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: inherit;
  margin-top: 10%;
  margin-right: 10%;
  text-align: left;
  overflow: scroll;
  font-weight: 300;
 }

 .borderbackground {
  border-radius: 50%;
  border-image: linear-gradient(red, blue) 27 / 35px;
 }
 .overviewlinks {
  margin-top: 7%;
  display: flex;
  flex-direction: row;
  font-size: 80%;
  justify-content: start;
 }
 .overviewbutton {
  width: fit-content;
  height: 19px;

  margin-right: 10px;
  margin-left: 0px;
  padding: 0px 11px;

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) .2px .3px 0px, rgba(0, 0, 0, 0.4) 0px .2px 0px;

  border:#e6e6e6 solid 1px; 
  border-radius: 5px;
  font-size: 90%;
  font-weight: 400;
 }

 @media (min-width: 550px) {
 }

 